themes {
    dracula {
        fg "#e9e9f4"
        bg "#4d4f68"
        black "#282936"
        white "#e9e9f4"
        red "#b45bcf"
        green "#62d6e8"
        yellow "#00f769"
        blue "#ebff87"
        magenta "#a1efe4"
        cyan "#62d6e8"
        orange "#b45bcf"
    }
}