themes {
    kanagawa {
        fg "#DCD7BA"
        bg "#223249"
        black "#1F1F28"
        white "#DCD7BA"
        red "#FFA066"
        green "#727169"
        yellow "#C0A36E"
        blue "#76946A"
        magenta "#6A9589"
        cyan "#7E9CD8"
        orange "#957FB8"
    }
}