themes {
    nord {
        fg "#E5E9F0"
        bg "#434C5E"
        black "#2E3440"
        white "#E5E9F0"
        red "#81A1C1"
        green "#D8DEE9"
        yellow "#5E81AC"
        blue "#BF616A"
        magenta "#D08770"
        cyan "#EBCB8B"
        orange "#A3BE8C"
    }
}