themes {
    solarized-dark {
        fg "#93a1a1"
        bg "#586e75"
        black "#002b36"
        white "#93a1a1"
        red "#cb4b16"
        green "#839496"
        yellow "#b58900"
        blue "#859900"
        magenta "#2aa198"
        cyan "#268bd2"
        orange "#6c71c4"
    }
}
