themes {
    solarized-light {
        fg "#586e75"
        bg "#93a1a1"
        black "#fdf6e3"
        white "#586e75"
        red "#cb4b16"
        green "#657b83"
        yellow "#b58900"
        blue "#859900"
        magenta "#2aa198"
        cyan "#268bd2"
        orange "#6c71c4"
    }
}